In [ ]:
import pandas as pd
import env 
import numpy as np 
import matplotlib as plt
import seaborn as sns 
from pydataset import data

In [ ]:
df = data('iris')

In [ ]:
print(df.head(3))
print(df.shape)
print(df.columns)
print(df.dtypes)
print(df.describe())

In [ ]:


sheet_url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vS6Aj1UToL1-RmcUCbHdo9Jyi8FCzs3PEkbIzZtmT_RdVUiBn5EVBqmoQmFkm5g168egcUwWASyACCf/pub?output=csv'    

#csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_googlesheet = pd.read_csv(sheet_url)

'''
print the first 3 rows
print the number of rows and columns
print the column names
print the data type of each column
print the summary statistics for each of the numeric variables
print the unique values for each of your categorical variables

'''



pd.DataFrame(df_googlesheet.head(),
df_googlesheet.shape,
df_googlesheet.columns,
df_googlesheet.dtypes,
df_googlesheet.describe(),
for col in df_googlesheet.columns:
    return (df_googlesheet[col].unique())

In [ ]:
import pandas as pd

sheet_url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vS6Aj1UToL1-RmcUCbHdo9Jyi8FCzs3PEkbIzZtmT_RdVUiBn5EVBqmoQmFkm5g168egcUwWASyACCf/pub?output=csv'
df_googlesheet = pd.read_csv(sheet_url)

# Print the first 3 rows
print("First 3 rows:")
print(df_googlesheet.head(3))

# Print the number of rows and columns
print("Number of rows and columns:")
print(df_googlesheet.shape)

# Print the column names
print("Column names:")
print(df_googlesheet.columns)

# Print the data type of each column
print("Data types:")
print(df_googlesheet.dtypes)

# Print the summary statistics for each of the numeric variables
print("Summary statistics for numeric variables:")
print(df_googlesheet.describe())

# Print the unique values for each of your categorical variables
print("Unique values for categorical variables:")
for col in df_googlesheet.select_dtypes(include=['object']).columns:
    print(f"Column: {col}")
    print(df_googlesheet[col].unique())

In [49]:
# import the .py file to get data bases, 
import get_databases as gdb
# define dataframe and set it equal to the titanic get data base or gdb for short 
df = gdb.get_titanic_data()
df

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1