In [4]:
import pandas as pd

In [8]:
list1 = [46, 7]
list2 = [13, 34]
data1 =[ list1, list2]
indexes = ['actual_dog', 'actual_cat']
cols = ['pred_dog', 'pred_cat']
df_ = pd.DataFrame(data1, index=indexes, columns= cols)

In [9]:
df_
# true postiive = the predicted dogs that were a tually dogs 
# true negative would be the 34  cats our model accuratly predicited were cats 
# False postive would be when our model predicted a dog but was actually a cat 
# false negative is when our model predicts a cat but was actually a dog 

# I would describe this model as an honest model who is just trying her best

            pred_dog  pred_cat
actual_dog        46         7
actual_cat        13        34

In [13]:
ducks = pd.read_csv('c3.csv')

In [18]:
# model 1
positive_predictions = ducks[ducks.model1 == 'Defect']
positive_predictions

        actual  model1     model2     model3
3    No Defect  Defect     Defect     Defect
30      Defect  Defect  No Defect     Defect
62   No Defect  Defect  No Defect  No Defect
65      Defect  Defect     Defect     Defect
70      Defect  Defect     Defect     Defect
135     Defect  Defect  No Defect     Defect
147     Defect  Defect  No Defect     Defect
163     Defect  Defect     Defect     Defect
194     Defect  Defect  No Defect     Defect
196     Defect  Defect  No Defect  No Defect

In [19]:
model1_prescision = (positive_predictions.actual == positive_predictions.model1).mean()

In [22]:
model1_prescision

0.8

In [24]:
# model 2 
positive_predictions = ducks[ducks.model2 == 'Defect']
positive_predictions

        actual     model1  model2     model3
0    No Defect  No Defect  Defect  No Defect
1    No Defect  No Defect  Defect     Defect
2    No Defect  No Defect  Defect  No Defect
3    No Defect     Defect  Defect     Defect
4    No Defect  No Defect  Defect  No Defect
..         ...        ...     ...        ...
183  No Defect  No Defect  Defect  No Defect
185  No Defect  No Defect  Defect  No Defect
193  No Defect  No Defect  Defect     Defect
195  No Defect  No Defect  Defect     Defect
198  No Defect  No Defect  Defect     Defect

[90 rows x 4 columns]

In [26]:
model2_prescision = (positive_predictions.actual == positive_predictions.model2).mean()
model2_prescision

0.1

In [29]:
# pos predicitions for model 3 
positive_predictions_m3 = ducks[ducks.model3 == 'Defect']
positive_predictions = ducks[ducks.model3 == 'Defect']
model3_prescision = (positive_predictions_m3.actual == positive_predictions.model3).mean()
model3_prescision

0.13131313131313133

In [ ]:
# model: 1 is the most appropiate for the task the model predicts deffective ducks 80% of the time

In [37]:
paws = pd.read_csv('gives_you_paws.csv')
paws.actual.value_counts()
paws['baseline'] = 'dog'

     actual model1 model2 model3 model4 baseline
0       cat    cat    dog    cat    dog      dog
1       dog    dog    cat    cat    dog      dog
2       dog    cat    cat    cat    dog      dog
3       dog    dog    dog    cat    dog      dog
4       cat    cat    cat    dog    dog      dog
...     ...    ...    ...    ...    ...      ...
4995    dog    dog    dog    dog    dog      dog
4996    dog    dog    cat    cat    dog      dog
4997    dog    cat    cat    dog    dog      dog
4998    cat    cat    cat    cat    dog      dog
4999    dog    dog    dog    dog    dog      dog

[5000 rows x 6 columns]

In [40]:
# lets find our accuracies 
#comapre the predictions (model 1, model 2, ect.) to everything. 
m1_accuracy = (paws.model1 == paws.actual).mean()
m2_accuracy = (paws.model2 == paws.actual).mean()
m3_accuracy = (paws.model3 == paws.actual).mean()
m4_accuracy = (paws.model4 == paws.actual).mean()
baseline_accuracy = (paws.baseline == paws.actual).mean()

In [41]:
print(f'Model one Accuracy: {m1_accuracy: .2%}')
print(f'Model two Accuracy: {m2_accuracy: .2%}')
print(f'Model three Accuracy: {m3_accuracy: .2%}')
print(f'Model four Accuracy: {m4_accuracy: .2%}')
print(f'Model baseline Accuracy: {baseline_accuracy: .2%}')

Model one Accuracy:  80.74%
Model two Accuracy:  63.04%
Model three Accuracy:  50.96%
Model four Accuracy:  74.26%
Model baseline Accuracy:  65.08%

In [42]:
### restrict to positive actual values
### positive = 'dog'

actual_positive = paws[paws.actual == 'dog']

In [43]:
actual_positive

     actual model1 model2 model3 model4 baseline
1       dog    dog    cat    cat    dog      dog
2       dog    cat    cat    cat    dog      dog
3       dog    dog    dog    cat    dog      dog
5       dog    dog    dog    dog    dog      dog
8       dog    dog    cat    dog    dog      dog
...     ...    ...    ...    ...    ...      ...
4993    dog    dog    cat    dog    dog      dog
4995    dog    dog    dog    dog    dog      dog
4996    dog    dog    cat    cat    dog      dog
4997    dog    cat    cat    dog    dog      dog
4999    dog    dog    dog    dog    dog      dog

[3254 rows x 6 columns]

In [48]:
# model one recall

m_1 = (actual_positive.actual == actual_positive.model1).mean()


# model two recall

m_2 = (actual_positive.actual == actual_positive.model2).mean()

# model three recall

m_3 = (actual_positive.actual == actual_positive.model3).mean()

# model four recall

m_4 = (actual_positive.actual == actual_positive.model4).mean()

# baseline 4 recall
baseline_recall = (actual_positive.actual == actual_positive.baseline).mean()

In [49]:
print(f'Model one Accuracy: {m_1: .2%}')
print(f'Model two Accuracy: {m_2: .2%}')
print(f'Model three Accuracy: {m_3: .2%}')
print(f'Model four Accuracy: {m_4: .2%}')
print(f'Model baseline Accuracy: {baseline_recall: .2%}')

Model one Accuracy:  80.33%
Model two Accuracy:  49.08%
Model three Accuracy:  50.86%
Model four Accuracy:  95.57%
Model baseline Accuracy:  100.00%

In [55]:
actual_positive.model4.value_counts()

dog    3110
cat     144
Name: model4, dtype: int64

In [56]:
# precisions

In [70]:
m1_positive = paws['model1'] == 'dog'
m2_positive = paws['model2'] == 'dog'
m3_positive = paws['model3'] == 'dog'
m4_positive = paws['model4'] == 'dog'
baseline_positive = paws['baseline'] == 'dog'

0       False
1        True
2       False
3        True
4       False
        ...
4995     True
4996     True
4997    False
4998    False
4999     True
Name: model1, Length: 5000, dtype: bool

In [72]:
m1_precision = (m1_positive['actual'] == m1_positive.model1).mean()
m2_precision = (m2_positive['actual'] == m2_positive.model2).mean()
m3_precision = (m3_positive['actual'] == m3_positive.model3).mean()
m4_precision = (m4_positive['actual'] == m4_positive.model4).mean()
baseline_precision = (baseline_positive.actual == m1_positive.baseline).mean()

KeyError: 'actual'

In [71]:
print(f'Model one precision: {m1_precision: .2%}')
print(f'Model two precision: {m2_precision: .2%}')
print(f'Model three precision: {m3_precision: .2%}')
print(f'Model four precision: {m4_precision: .2%}')
print(f'Model baseline precision:{baseline_precision: .2%}')

NameError: name 'm1_precision' is not defined